.section-4-container {
  align-items: stretch;
  display: -moz-grid-group;
  grid-row: span right;
  padding-inline-start: 100px;
  height: 29rem;
}
.section-4-container-0 {
  background-color: black;
  color: white;
  border: 1px solid;
  text-align: center;
  align-items: center;
  margin: 0px;
  margin-top: 18px;
  margin-bottom: 10px;
  height: 26rem;
  width: 500px;
  padding: 0px;
  float: left;
  margin-left: 0px;
  font-size: 12px;
  border-radius: 5px;

}
.section-4-container-1 {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;

}
.section-4-container-2 {
  font-style: normal;
  font-size: 25px;
  margin-left: 0px;
}
.section-4-container-2-link {
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-4-box-container>:nth-child(1) {
  border: 0px solid;
  margin: 1px;
  height: 26rem;
  width: 38rem;
  padding: 5px;
  margin-top: 9rem;
  font-size: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 50px!important;
  font-weight: bold!important;
  letter-spacing: 3px!important;
  margin-left: 2.5rem;
  cursor: pointer;
  width: 100%;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 18%, 68%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}