.hero{
    height: 60rem;
}
.hero-blur1{
    position: relative;
    width: 8rem;
    height: 6rem;
    margin: auto;
    top: 3rem;
    background: #37ff32;
    border-radius: 50%;
    filter: blur(75px);
    z-index: -12;
}
.formation{
    transform: skewY(-11deg);   
    align-items: flex-start;
    margin-top: 2rem;
    margin-left: 0;

}
.img1-container{
    margin: 0 auto;
	transform: skewY(11deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #ff1616;
    border-radius: 10rem ;     
    
}
.img1-container>img, .img2-container>img, .img3-container>img, .img4-container>img{
    padding: 0.1rem;
    width: auto;

}
.img2-container{
    margin: 0 auto;
	transform: skewY(11deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #19087D;
    border-radius: 10rem ;   
}
.img3-container{
    margin: 0 auto;
	transform: skewY(11deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #FF7E8A    ;
    border-radius: 10rem ;   
}
.img4-container{
    margin: 0 auto;
	transform: skewY(11deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #FFFFFF    ;
    border-radius: 10rem ;   
}
@media screen and (max-width: 768px) {
.hero{
    height: 42.5rem;
}
    .hero-blur1{
    width: 4rem;
    height: 4rem;
    position: relative;
    margin-left: 3rem;
}
    
}