.section-4-container {
 display: flex;
 align-items: center;
 justify-content: center;
  height: 30rem;
}
.section-4-container-0 {
  background-color: black;
  color: white;
  border: 1px solid;
  text-align: center;
  align-items: center;
  height: 26rem;
  width: 40rem;
  font-size: 12px;
  border-radius: 5px;

}

.section-4-container-2 {
  font-style: normal;
  font-size: 25px;
}
.section-4-container-2-link {
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-4-box-container>:nth-child(1) {
  width: 35rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 3rem!important;
  font-weight: bold!important;
  letter-spacing: 3px!important;
  cursor: pointer;
  width: 100%;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 18%, 68%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

@media screen and (max-width: 768px){
.section-4-container-0 {
width: 100%;
}
h1{
  font-size: 26px!important;
   letter-spacing: 2px!important;
   width: auto;
   padding-inline-start: 10px;
}
}

@media screen and (max-width: 600px){
  .section-4-container{
    display: flex;
    flex-direction: column;
  }
 h1{
       font-size: 16px!important;
        letter-spacing: 1px!important;
        width: auto;
        padding-inline-start: 7px;
    }
}