.section-3-container {
    justify-content: center;
    text-align: center;
    background-color: lightgrey;
    height: auto;
  }
  .text-delivery-1 {
    font-weight: bold;
    font-size: 20px;
  }
  .chohort-portf {
    color: #E20044;
    font-weight: bold;
    padding-top: 20px;
  }
  .logo-haba>:nth-child(1),
  .logo-haba>:nth-child(2)
   {
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 100px;
    display: -moz-grid-group;
    grid-row: span right;
    padding-inline-start: 100px;
    width: 250px;
  } 

  .logo-blur{
    top: 0;
    position: inherit;
    width: 10rem;
    height: 4rem;
    float: right;
    padding-left: 1rem;
    background-color: rgba(236, 16, 16, 0.9);
    border-radius: 50%;
    filter: blur(45px);
    z-index: -11;
  }
  @media screen and (min-width: 320px) and (max-width:481px) {
    /* For phone: */
    .chohort-portf {
      margin-top: 10px;
      font-size: 10px;
    }
    .logo-haba>:nth-child(1),
    .logo-haba>:nth-child(2)
     {
      margin-top: 20px;
      padding-inline-start: 10px;
      width: 70px;
      margin-bottom: 20px;

    }
    .bold-text {
      font-size: 10px;
      font-weight: bold;
    }

  }