.team-container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #D9D9D9;
    height: 34.5rem;
    align-items: center;
    justify-content: center;
}
 .first{
    font-weight: 500;
    /* margin-left: 30rem; */
    padding-top: 10px;
}
.image-container{
    margin-top: 1rem;
    display: flex;
    background-color: black;
    width: 55rem;
    height: 25rem;
    margin-bottom: 1rem;
    /* margin-left: 10rem; */
    border-radius: 10px;
}

 .left-t{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 3rem;
    margin-left: 2rem;
    text-transform: lowercase;
    color: white;
    width: 50%;
}
.left-t>:nth-child(1){
    font-weight: 350;
}
.left-t>:nth-child(2),
.left-t>:nth-child(3){
font-weight: 400;
font-size: 2rem;
}
 .left-t>:nth-child(4){
    position: absolute;
    display: flex;
    flex-direction: column;
    text-transform: none;
    text-align: center;
    line-height: 10px;
}

.arrows{
    display: flex;
    gap: 1rem;
    bottom: 1rem;
    /* left: 1rem; */
}
 .arrows>img{
    width: 1.5rem;
    cursor: pointer;
}
.right-t{
    position: relative;
}

.right-t>img{
    position: absolute;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-top: 3rem;
    /* margin-left: 8rem; */
    border-radius: 10px;

}
.right-t>:nth-child(1){
    position: absolute;
    width: 20px;
    height: 20rem;
    /* right: 9rem; */
    top: 0.9rem;
}
.right-t>:nth-child(2){
    position: absolute;
    width: 20px;
    height: 5rem;
    top: 2rem;
    /* right: 7rem; */
}
 .arrows{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
}
 .arrows>img{
    width: 1.5rem;
    cursor: pointer;
}

 .link a{
    position: absolute;
    font-weight: 400;
    color: orangered;
}
.link a:hover{
    cursor: pointer;
    color: blue;
}

@media screen and (max-width: 768px) {
.team-container{
    flex-direction: column;
    
}
.team-container p{
    margin-left: 7rem;
}
.image-container{
  display: flex;
  flex-direction: column;
  width: 25rem; 
  height: 30rem; 
  /* margin-left: 0.5rem; */
  margin-top: 0.5rem;
}
.link a{
/* margin-left: 8rem; */
bottom: 0.5rem;
}
.arrows{
position: inherit;
/* margin-left: 8rem; */
}
.arrows>img{
margin-top: 3.5rem;
}
.right-t{
display: flex;
flex-direction: column;
}
.right-t>img{
position: inherit;
width: 17rem;
height: 10rem;
margin-left: 3rem;
margin-top: 18px;
}
.left-t{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin-left: 1rem;
}
}