.team .team-container{
    position: relative;
    background-color: #D9D9D9;
    height: 34.5rem;
}
.team .first{
    font-weight: 500;
    margin-left: 30rem;
    padding-top: 10px;
}
.team .image-container{
    margin-top: 2rem;
    display: flex;
    background-color: black;
    width: 60rem;
    height: 25rem;
    margin-bottom: 3rem;
    margin-left: 10rem;
    border-radius: 10px;
}

.team .left-t{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 3rem;
    margin-left: 2rem;
    text-transform: lowercase;
    color: white;
    width: 50%;
}
.team .left-t>:nth-child(1){
    font-weight: 350;
}
.team .left-t>:nth-child(2),
.team .left-t>:nth-child(3){
font-weight: 400;
font-size: 2rem;
}
.team .left-t>:nth-child(4){
    position: absolute;
    display: flex;
    flex-direction: column;
    text-transform: none;
    text-align: center;
    line-height: 10px;
}

.team .arrows{
    display: flex;
    gap: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.team .arrows>img{
    width: 1.5rem;
    cursor: pointer;
}
.team .right-t{
    position: relative;
}

.team .right-t>img{
    position: absolute;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-top: 3rem;
    margin-left: 8rem;
    border-radius: 10px;

}
.team .right-t>:nth-child(1){
    position: absolute;
    width: 20px;
    height: 20rem;
    right: 9rem;
    top: 0.9rem;
}
.team .right-t>:nth-child(2){
    position: absolute;
    width: 20px;
    height: 5rem;
    top: 4rem;
    right: 7rem;
}
.team .arrows{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
}
.team .arrows>img{
    width: 1.5rem;
    cursor: pointer;
}

 .team .link a{
    position: absolute;
    margin-left: 35rem;
    font-weight: 400;
    color: orangered;
}
.team .link a:hover{
    cursor: pointer;
    color: blue;
}

@media screen and (max-width: 768px) {
.team-container{
    flex-direction: column;
    
}
.team-container p{
    margin-left: 7rem;
}
.image-container{
  display: flex;
  flex-direction: column;
  width: 25rem; 
  height: 30rem; 
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.link a{
margin-left: 8rem;
bottom: 0.5rem;
}
.arrows{
position: inherit;
margin-left: 8rem;
}
.arrows>img{
margin-top: 3.5rem;
}
.right-t{
display: flex;
flex-direction: column;
}
.right-t>img{
position: inherit;
width: 17rem;
height: 10rem;
margin-left: 3rem;
margin-top: 18px;
}
.left-t{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin-left: 1rem;
}
}