
      .client-description {
        width: 200px;
        height: auto;
        margin-top: 15rem;

      }
    
        .team-container{
           background-color: rgba(217, 217, 217, 1);
          /* background-image: url(../images/backgroung.png); */
          position: relative;
          height: 36.5rem;
      }
      .team-container p{
          position: relative;
          margin: 1.5rem;
          font-weight: 500;
          margin-left: 30rem;
      }
      .image-container{
          margin-top: 3rem;
          display: flex;
          background-color: black;
          width: 60rem;
          height: auto;
          margin-bottom: 3rem;
          margin-left: 1rem;
          border-radius: 10px;
      }
      
      .left-t{
          position: relative;
          display: flex;
          width: 50px;
          margin-top: 1.5rem;
          margin-left: 2rem;
          text-transform: lowercase;
          color: white;
      }
      .left-t>:nth-child(1){
          font-weight: 300;
      }
      .left-t>:nth-child(2),
      .left-t>:nth-child(3){
      font-weight: 250;
      font-size: 1.5rem;
      }
      .left-t>:nth-child(4){
          position: absolute;
          display: flex;
          flex-direction: column;
          text-transform: none;
          text-align: center;
          line-height: 10px;
      }
      
      .arrows{
          display: flex;
          gap: 40rem;
          margin-bottom: 1rem;
          margin-right: 4rem;
      }
      .arrows>img{
          width: 1.5rem;
          cursor: pointer;
      }
      
      .right-t{
          position: relative;
      }
      
      .right-t>img{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        margin-top: 3rem;
        margin-left: 25rem;
        border-radius: 10px;
      
      }
      .right-t>:nth-child(1),
      .right-t>:nth-child(2){
          position: absolute;
          height: auto;
          width: 100px;
          height: 20rem;
          right: 9rem;
          top: 0.9rem;
      }
      /* .right-t>:nth-child(2){
          position: absolute;
          width: 20px;
          height: 5rem;
          top: 4rem;
          right: 7rem;
      } */
      /* .arrows{
          gap: 40rem;
          position: absolute;
          bottom: 2rem;
      }
      .arrows>img{
          width: 2rem;
          cursor: pointer;
      } */
      
      
      