.body-container {
  background-color: #F5F5F5;
  background-attachment: fixed;
  margin: 0px;
  width: 100%;
  height: auto;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.loader-container {
    background-color: #F2EEE5;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .bold-t {
    font-size: 60px;
    font-weight: bold;
  }
  .text {
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
  }
  .top-text {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 30px;
  }
 .text-c {
    color: red;
  }

  .box-container {
    color: #000000;
    border: 0px solid;
    align-items: center;
    margin: 1px;
    width: 500px;
    height: 400px;
    padding: 0px;
    float: left;
    margin-left: 40px;
    font-size: 14px;
    margin-bottom: 50px;
  }
  .inspire {
    font-size: 40px;
    font-weight: bolder;
  }
  .inspire-2 {
    margin-left: 25px;
    margin-right: 130px;
    margin-bottom: 20px;

  }
  .box-container1>:nth-child(1) {
    border: 0px solid;
    align-items: center;
    margin: 1px;
    height: 400px;
    width: 300px;
    padding: 0px;
    float: right;
    margin-right: 300px;
    font-size: 12px;
  }
  .section-2-container {
    background-color: white;
    justify-content: center;
  }
  .section-2-container-0>:nth-child(1) {
    border: 0px solid;
    align-items: center;
    margin: 1px;
    height: 350px;
    width: 500px;
    padding: 0px;
    float: left;
    margin-left: 80px;
    margin-top: 50px;
    font-size: 12px;
  }
  .section-2-container-1 {
    background-color: rgb(2, 2, 2);
    color: white;
    border: 1px solid;
    align-items: center;
    margin: 0px;
    margin-top: 0px;
    height: 450px;
    width: 710px;
    padding: 0px;
    float: right;
    margin-right: 0px;
    font-size: 16px;
  }
  .text-delivery {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 40px;
    font-weight: bold;
  }
  .delivery {
    width: 65%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 12px;
  }
  .link-join {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 50px;
    justify-content: center;
    text-align: center;
    text-decoration: double;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid red;
    width: 40%;
  }
  .section-3-container {
    justify-content: center;
    text-align: center;
    background-color: lightgrey;
  }
  .text-delivery-1 {
    font-weight: bold;
    font-size: 20px;
  }
  .chohort-portfolio {
    color: #E20044;
    font-weight: bold;
    margin-top: 10px;
  }
  .logo-haba>:nth-child(1),
  .logo-haba>:nth-child(2)
   {
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 100px;
    align-items: stretch;
    display: -moz-grid-group;
    grid-row: span right;
    padding-inline-start: 100px;
    width: 250px;
  } 
  .section-4-container {
    align-items: stretch;
    display: -moz-grid-group;
    grid-row: span right;
    padding-inline-start: 100px;
  }
  .section-4-container-0 {
    background-color: black;
    color: white;
    border: 1px solid;
    text-align: center;
    align-items: center;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 300px;
    width: 500px;
    padding: 0px;
    float: left;
    margin-left: 0px;
    font-size: 12px;

  }
  .section-4-container-1 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;

  }
  .section-4-container-2 {
    font-style: normal;
    font-size: 25px;
    margin-left: 0px;
  }
  .section-4-container-2-link {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .section-4-box-container>:nth-child(1) {
    border: 0px solid;
    margin: 1px;
    height: 250px;
    width: 500px;
    padding: 5px;
    margin-top: 60px;
    font-size: 40px;
  }
  .footer-container {
    background-color: white;
    background-size: cover;

  }

  .footer-container-0 {
    align-items: stretch;
    display: -moz-grid-group;
    grid-row: span right;
    padding-inline-start: 100px;
    background-color: black;
    color: white;

  }
  .adamur-text {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: white;
    letter-spacing: 5px;
  }
  .adamur-logo {
    background-color: black;
    color: white;
    border: 0px solid;
    align-items: center;
    margin: 1px;
    height: 200px;
    width: 300px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    font-size: 12px;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  h1 {
    font-size: 50px!important;
    font-weight: bold!important;
    letter-spacing: 3px!important;
    cursor: pointer;
    width: 100%;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 18%, 68%) 10%, hsl(0, 0%, 30%) 20%);
    /* background: linear-gradient(to right, hsl(0, 2%, 8%) 0, hsl(0, 42%, 90%) 10%, hsl(0, 1%, 13%) 20%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width:481px) {
    /* For phone: */
      .bold-t {
        font-size: 17px;
        font-weight: bold;
      }
      .text {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 2px;
        margin-left: 5px;
      }
      .top-text {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 30px;
      }
      .box-container {
        width: 190px;
        height: auto;
        margin-left: 5px;
        font-size: 6.33px;
        margin-bottom: 10px;
      }
      .inspire {
        font-size: 15px;
        /* font-weight: bolder; */
      }
      .inspire-2 {
        margin-left: 10px;
        margin-right: 27.33px;
        margin-bottom: 5px;
        font-size: 6px;
    
      }
      .box-container1>:nth-child(1) {
        height: auto;
        width: 100px;
        margin-right: 66.33px;
      }
      .section-2-container-0>:nth-child(1) {
        height: 200px;
        width: 100px;
        margin-left: 25px;
        margin-top: 20px;
      }
      .section-2-container-1 {
        height: auto;
        width: 247.01px;
      }
      .text-delivery {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 10px;
        font-weight: bold;
      }
      .delivery {
        margin-left: 30px;
        margin-right: 40px;
        margin-bottom: 10px;
        font-size: 7px;
      }
      .link-join {
        margin-top: 20px;
        margin-left: 40px;
        font-size: 10px;
      }
      .text-delivery-1 {
        font-weight: bold;
        font-size: 20px;
      }
      .chohort-portfolio {
        font-weight: bold;
        margin-top: 10px;
        font-size: 10px;
      }
      .logo-haba>:nth-child(1),
      .logo-haba>:nth-child(2)
       {
        margin-top: 20px;
        padding-inline-start: 10px;
        width: 70px;
        margin-bottom: 20px;

      }
      .bold-t {
        font-size: 10px;
        font-weight: bold;
      }
      .section-4-container {
        padding-inline-start: 2px;
      }
      .section-4-container-0 {
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
        width: 225px;
        font-size: 7px;
    
      }
      .section-4-container-1 {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    
      }
      .section-4-container-2-link {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .section-4-box-container>:nth-child(1) {
        height: 200px;
        width: 120px;
        padding: 0px;
        margin-top: 40px;
      }
      h1 {
        font-size: 12px!important;
        letter-spacing: 1px!important;
        width: auto;
      }
      .adamur-logo {
        height: auto;
        width: 80px;
        font-size: 12px;
      }

  }
  
  
  