
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-menu{
    display: flex;
    font-size: 15px;
    align-items: center;
  justify-content: space-between;
  }
  
}

/* Navbar */
.nav-wrapper{
  background: transparent;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 15rem;
  margin: 0.5rem;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.nav-link{
  color: black;
}
.nav-link:hover{
color: red;
}
.toggler-icon{
  cursor: pointer;
  display: none;
}
.toggler-icon div{
width: 25px;
height: 2px;
background: teal;
margin: 5px 0px;
transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .toggler-icon{
    display: block;
  }
  .logo{
    width: 12rem;
  }
  .nav-menu{
    position: fixed;
    background: rgb(170, 235, 235);
    flex-direction: column;
    top: 6vh;
    width: 40%;
    height: 55vh;
    right: 0;
    border-top: 2.5px solid black;
    border-radius: 5px;
    border-left: 2.5px solid red;
    border-right: 2.5px solid black;
    border-bottom: 2.5px solid red;


    transform: translateX(100%);
    transition: 0.5s ease;
    z-index: 5;
    
  }
}
@media screen and (max-width: 320px) {
  .toggler-icon{
  display: block;
  }
  .logo{
    width: 10rem;
  }
}

.nav-collapse{
  transform: translateX(0%);
}

/* Toggle icon */
.toggle .line-1{
  transform: translate(-5px, 7px) rotate(-45deg);
}
.toggle .line-2{
  opacity: 0;
}
.toggle .line-3{
  transform: translate(-5px, -7px) rotate(45deg);
}

