
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 1rem;
}

@media screen and (max-width: 960px) {
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-menu{
    display: flex;
    font-size: 15px;
    align-items: center;
  justify-content: space-between;
  }
  
}

/* Navbar */
.nav-wrapper{
  background: transparent;
  border-bottom: 2px solid whitesmoke;

}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 15rem;
  margin: 0.5rem;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.nav-link{
  color: black;
}
.nav-link:hover{
color: red;
}
.toggler-icon{
  cursor: pointer;
  display: none;
}
.toggler-icon div{
width: 25px;
height: 2px;
background: gray;
margin: 5px 0px;
transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  
  .toggler-icon{
    display: block;
    z-index: 10;
  }
  .logo{
    width: 12rem;
  }
  .nav-menu{
    position: fixed;
    background: rgba(0, 12, 12, 0.747);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 22rem;
    height: 50%;
    right: 0;
    border-radius: 5px;
    transform: translateX(100%);
    transition: 0.5s ease;
    z-index: 5;
    
  }
  .nav-link{
    color: white;
  }
}
@media screen and (max-width: 320px) {
  .toggler-icon{
  display: block;
  }
  .logo{
    width: 10rem;
  }
}
@media screen and (max-width: 600px){
  .nav-menu{
    width: 15rem;
  }
}

.nav-collapse{
  transform: translateX(0%);
}

/* Toggle icon */
.toggle .line-1{
  transform: translate(-5px, 7px) rotate(-45deg);
}
.toggle .line-2{
  opacity: 0;
}
.toggle .line-3{
  transform: translate(-5px, -7px) rotate(45deg);
}

